/* start  vars */
:root{
    --main-color:#19c8fa;
    --blue-color:rgb(15 116 143 /70%);
    --section-padding:100px;
}

/* end p vars */
/* start global ruls */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;

}


/* end global ruls */


/* srart main component  */
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
    
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    bottom: -38px;
    background-color: white;
    
}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
    
}
/* end main component  */



/* start header */
header{
    /* position: absolute; */
    position:fixed;
    left: 0;
    width: 100%;
    z-index: 2;
}
.sticky1{
    /* padding: 15px 0; */
    background:black;
}
.change-one{
    background-color: rgb(0, 0, 0);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}


/* for bottom baner */
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color:#a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}


header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header nav .toggel-menu{
    color: white;
    font-size: 22px;

}

header nav ul{
    display: flex;
}

header nav ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}


header nav ul li a.active,
header nav ul li a:hover,
.rbtn:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color) ;
}


.rbtn{
    /* width: 40px; */
    height: 40px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
    color: white;
    background-color: black;
}
/* end header */

/* ////////////////////////////////////////////////////////////////////HOME////////////////////////////////////////////////////////////////////////// */

/* start home */
.home{
    min-height: 100vh;
    background-color: #1f2021;
    background: url(../img/back.jpg);
    background-size: cover;
    position: relative;
   
}
.home .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 40%);
}
.home .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(60% - 30px);
    padding: 50px;
    background-color: var(--blue-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.home .text .cont{
    max-width: 500px;
}
.home .text .cont h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.home .text .cont p{
    font-size: 14px;
    line-height: 2;   
}

.home .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.home .fa-angle-left{
left: 30px;
}
.home .fa-angle-right{
    right: 30px;
}
.home .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.home .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.home .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end home */



/* start services */

.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-box{
    display: flex;

}
.services .services-box i{
    margin-right: 50px;

}
.services .services-box h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .services-box p{
    line-height: 2;
    color: #777;

}

/* end services */

/* ////////////////////////////////////////////////////////////////////HOME////////////////////////////////////////////////////////////////////////// */
/* start design */

.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background: url("../img/back2.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;

}
/* overlay */
.design::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 40%);
}
.design .image{
    text-align: center;
}
.design .image,
.design .text{
    position: relative;
    z-index: 1;
    flex: 1;
}

.design .image img{
    position: relative;
    bottom: -150px;
} 
.design .text{
   color: white;
   padding: 50px;
   background-color: var(--main-color);
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
 }
 .design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f3cd";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
    
}
/* End design */
/* start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
}
.portfolio .shuffle li a.active{
    background-color: var(--main-color);
    color: white;
}
.portfolio .gallary{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

}
.portfolio .gallary .gallary-box{
    position: relative;
    overflow: hidden;

}
.portfolio .gallary .gallary-box:hover .caption{
    bottom: 0;

}
.portfolio .gallary .gallary-box:hover img{
    transform: rotate(3deg) scale(1.1);

}
.portfolio .gallary .gallary-box img{
    max-width: 100%;
}
.portfolio .gallary .gallary-box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .gallary .gallary-box .caption h3{
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .gallary .gallary-box .caption p{
    color: var(--main-color);
    
}
.portfolio .more{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30 auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* end portfolio */

/* start video */
.video{
    position: relative;
}

.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 70%);
}
.video video{
    width: 100%;  
}

.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--blue-color);
    color: white;
    text-align: center;
}

.video .text h2{
    margin:  0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 25px;
}
.video .text button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
/* end video */

/* start about */
    .about{
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
    }
    .about img{
        position:relative;
        bottom: -120px;
        margin-top: -120px;
        max-width: 100%;
    }
/* end about */
/* start stats */
    .stats{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background: url("../img/back4.jpg");
        text-align: center;
        position: relative;
    }
    .stats::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0/ 70%);
    }
    .stats .container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .stats .container .box{
        color: white;
        padding: 50px;
        background-color: var(--blue-color);
        
    }
    .stats .container .box i{
        width: 40px;
        height: 40px;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto 30px;
    }
    .stats .container .box .number{
        font-size: 50px;
        font-weight: bold;
        margin: 0 0 20px;

    }
    .stats .container .box p{
        font-size: 14px;
    }
/* end stats */

/* start skills */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  
    /* align-items: ; */
}
.our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-skills .container >div> h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px;
    
}
.our-skills .container >div> p{
    padding-bottom: 40px;
    text-align: center;
    color: #777;
    line-height: 1.7;

    
}
.our-skills .cont{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.our-skills .cont img{
    width: 150px;
    border-radius: 50%;
    margin-right: 50px;
}
.our-skills .cont img{
    width: 150px;
    border-radius: 50%;
    margin-right: 50px;
}
.our-skills .testimonials .cont .text{
    line-height: 1.5;
    border-bottom: 1px solid #ccc;

}
.our-skills .testimonials .cont .text p{
    color: #777;
    text-align: right;
    font-size: 14px;
}
.our-skills .skills{
   
}

/* end skills */



/* ////////////////////////////////////////////////////////media //////////////////////////////////////////////////// */




/* media queary Code  */
/* small */
@media (min-width: 768px)
{
    .container{
        width: 750px;
    }
    header nav .toggel-menu{
        display: none;
    }
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
    .portfolio .gallary .gallary-box{
        flex-basis: 50%;
    }
    .stats .container .box{
        flex-basis: 50%;
        
    }
     
}

/* mediem */
@media (min-width: 992px)
{
    .container{
        width: 970px;
    }
    .stats .container .box{
        flex-basis: 25%;
        
    }
    .our-skills .container>div{
        flex-basis: 45%;
    }
    
}
/* larg */
@media (min-width: 1200px)
{
    .container{
        width: 1170px;
    }
    .portfolio .gallary .gallary-box{
        flex-basis: 25%;
    }
    
    
}




@media(max-width:767px)
{
    header nav ul{
        display: none;
    }
    header nav .toggel-menu:hover + ul{
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 100%;
       left: 0;
       width: 100%;
       background-color: rgba(0, 0,0, 50%);
    
    }
    header nav .toggel-menu:hover + ul li a{
        padding: 15px;
    }
    /* //////////////////////////////////////////////////////////////// */

    .home .text{
        width: 100%;
    }
    .home .text .cont{
        width: 100%;
    }
    .home .change-background{
        display: none;
    }
    .services .services-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
    }
    .services .services-box i{
        margin: 0 0 30px;
    }
    .design .image{
        display: none;
    }
    .design .text{
        width: 100%;
     }
     .about img{
        bottom: -60px;
        margin-top: -60px;
    }
    .stats .container .box{
        flex-basis:  100%;
        border-bottom: 3px solid #19c8fa;
        border-width: 80%;
    }
    .our-skills .cont{
        flex-direction: column;
        text-align: center;
    }
    .our-skills .cont img{
       margin: 0 auto 20px;
    }
}